<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<body>
	<section layout:fragment="conteudo" class="aw-layout-content  js-content">
			<div class="page-header">
				<div class="container-fluid">
					<h1>
						Cadastro de Estilo
					</h1>
				</div>
			</div>

			<div class="container-fluid">
			
				<th:block th:include="fragments/MensagensSucesso"/>
							
				<form method="POST" th:object="${estilo}" class="form-vertical  js-form-loading">

					<th:block th:include="fragments/MensagensErrorValidacao"/>
					
					<div class="row">
						<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('nome')} ? has-error">
							<label for="nome" class="control-label" >Nome</label>
							<input id="nome" th:field="*{nome}" type="text" class="form-control"/>
						</div>
					</div>
					
					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
			
				</form>
			</div>
	</section>

</body>
</html>